.app-container {
  /* min-height: 350px; */
  height: auto;
  width: 100%;
}

.form-container {
  width: 50%;
  margin: auto;
}
@media (max-width: 576px) {
  .form-container {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 577px) and (max-width: 786px) {
  .form-container {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 787px) and (max-width: 1024x) {
    .form-container {
      width: 60%;
      margin: auto;
    }
  }
